.dashboardContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.dashboardContent {
    grid-column: span 10 / span 10;
    padding: 2rem;
}

@media (max-width: 767px) {
    .dashboardContent {
        padding: 0.5rem;
    }
}