/* Modal.module.css */
.modalDisplayBlock {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modalDisplayNone {
    display: none;
}

.modalMain {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    padding: 1.5rem;
    border: 1px solid #888;
    width: 20rem;
    border-radius: 0.5rem;
    z-index: 5;
}

@media (max-width: 767px) {
    .modalDisplayBlock {
        height: 100vh;
    }

    .modalMain {
        width: 15rem;
    }
}